root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 4
# Maximum line length for code blocks (text lines are limited to 80 characters)
max_line_length = 120
trim_trailing_whitespace = true